In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_digits
from sklearn.datasets import load_iris
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC
import seaborn as sns

In [3]:
df = pd.read_csv('FINAL_USO.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,SP_open,SP_high,SP_low,...,GDX_Low,GDX_Close,GDX_Adj Close,GDX_Volume,USO_Open,USO_High,USO_Low,USO_Close,USO_Adj Close,USO_Volume
0,2011-12-15,154.740005,154.949997,151.710007,152.330002,152.330002,21521900,123.029999,123.199997,121.989998,...,51.570000,51.680000,48.973877,20605600,36.900002,36.939999,36.049999,36.130001,36.130001,12616700
1,2011-12-16,154.309998,155.369995,153.899994,155.229996,155.229996,18124300,122.230003,122.949997,121.300003,...,52.040001,52.680000,49.921513,16285400,36.180000,36.500000,35.730000,36.270000,36.270000,12578800
2,2011-12-19,155.479996,155.860001,154.360001,154.869995,154.869995,12547200,122.059998,122.320000,120.029999,...,51.029999,51.169998,48.490578,15120200,36.389999,36.450001,35.930000,36.200001,36.200001,7418200
3,2011-12-20,156.820007,157.429993,156.580002,156.979996,156.979996,9136300,122.180000,124.139999,120.370003,...,52.369999,52.990002,50.215282,11644900,37.299999,37.610001,37.220001,37.560001,37.560001,10041600
4,2011-12-21,156.979996,157.529999,156.130005,157.160004,157.160004,11996100,123.930000,124.360001,122.750000,...,52.419998,52.959999,50.186852,8724300,37.669998,38.240002,37.520000,38.110001,38.110001,10728000

In [4]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,SP_open,SP_high,SP_low,...,GDX_Low,GDX_Close,GDX_Adj Close,GDX_Volume,USO_Open,USO_High,USO_Low,USO_Close,USO_Adj Close,USO_Volume
0,2011-12-15,154.740005,154.949997,151.710007,152.330002,152.330002,21521900,123.029999,123.199997,121.989998,...,51.570000,51.680000,48.973877,20605600,36.900002,36.939999,36.049999,36.130001,36.130001,12616700
1,2011-12-16,154.309998,155.369995,153.899994,155.229996,155.229996,18124300,122.230003,122.949997,121.300003,...,52.040001,52.680000,49.921513,16285400,36.180000,36.500000,35.730000,36.270000,36.270000,12578800
2,2011-12-19,155.479996,155.860001,154.360001,154.869995,154.869995,12547200,122.059998,122.320000,120.029999,...,51.029999,51.169998,48.490578,15120200,36.389999,36.450001,35.930000,36.200001,36.200001,7418200
3,2011-12-20,156.820007,157.429993,156.580002,156.979996,156.979996,9136300,122.180000,124.139999,120.370003,...,52.369999,52.990002,50.215282,11644900,37.299999,37.610001,37.220001,37.560001,37.560001,10041600
4,2011-12-21,156.979996,157.529999,156.130005,157.160004,157.160004,11996100,123.930000,124.360001,122.750000,...,52.419998,52.959999,50.186852,8724300,37.669998,38.240002,37.520000,38.110001,38.110001,10728000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,2018-12-24,119.570000,120.139999,119.570000,120.019997,120.019997,9736400,239.039993,240.839996,234.270004,...,20.650000,21.090000,21.090000,60507000,9.490000,9.520000,9.280000,9.290000,9.290000,21598200
1714,2018-12-26,120.620003,121.000000,119.570000,119.660004,119.660004,14293500,235.970001,246.179993,233.759995,...,20.530001,20.620001,20.620001,76365200,9.250000,9.920000,9.230000,9.900000,9.900000,40978800
1715,2018-12-27,120.570000,120.900002,120.139999,120.570000,120.570000,11874400,242.570007,248.289993,238.960007,...,20.700001,20.969999,20.969999,52393000,9.590000,9.650000,9.370000,9.620000,9.620000,36578700
1716,2018-12-28,120.800003,121.080002,120.720001,121.059998,121.059998,6864700,249.580002,251.399994,246.449997,...,20.570000,20.600000,20.600000,49835000,9.540000,9.650000,9.380000,9.530000,9.530000,22803400
1717,2018-12-31,120.980003,121.260002,120.830002,121.250000,121.250000,8449400,249.559998,250.190002,247.470001,...,20.559999,21.090000,21.090000,53866600,9.630000,9.710000,9.440000,9.660000,9.660000,28417400

In [5]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'SP_open', 'SP_high', 'SP_low', 'SP_close', 'SP_Ajclose', 'SP_volume',
       'DJ_open', 'DJ_high', 'DJ_low', 'DJ_close', 'DJ_Ajclose', 'DJ_volume',
       'EG_open', 'EG_high', 'EG_low', 'EG_close', 'EG_Ajclose', 'EG_volume',
       'EU_Price', 'EU_open', 'EU_high', 'EU_low', 'EU_Trend', 'OF_Price',
       'OF_Open', 'OF_High', 'OF_Low', 'OF_Volume', 'OF_Trend', 'OS_Price',
       'OS_Open', 'OS_High', 'OS_Low', 'OS_Trend', 'SF_Price', 'SF_Open',
       'SF_High', 'SF_Low', 'SF_Volume', 'SF_Trend', 'USB_Price', 'USB_Open',
       'USB_High', 'USB_Low', 'USB_Trend', 'PLT_Price', 'PLT_Open', 'PLT_High',
       'PLT_Low', 'PLT_Trend', 'PLD_Price', 'PLD_Open', 'PLD_High', 'PLD_Low',
       'PLD_Trend', 'RHO_PRICE', 'USDI_Price', 'USDI_Open', 'USDI_High',
       'USDI_Low', 'USDI_Volume', 'USDI_Trend', 'GDX_Open', 'GDX_High',
       'GDX_Low', 'GDX_Close', 'GDX_Adj Close', 'GDX_Volume', 'USO_Open',
       'USO_High', 'USO_Low', 'USO_Close', 'USO_Adj Close', 'USO_Volume'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1718 non-null   object
 1   Open           1718 non-null   float64
 2   High           1718 non-null   float64
 3   Low            1718 non-null   float64
 4   Close          1718 non-null   float64
 5   Adj Close      1718 non-null   float64
 6   Volume         1718 non-null   int64
 7   SP_open        1718 non-null   float64
 8   SP_high        1718 non-null   float64
 9   SP_low         1718 non-null   float64
 10  SP_close       1718 non-null   float64
 11  SP_Ajclose     1718 non-null   float64
 12  SP_volume      1718 non-null   int64
 13  DJ_open        1718 non-null   float64
 14  DJ_high        1718 non-null   float64
 15  DJ_low         1718 non-null   float64
 16  DJ_close       1718 non-null   float64
 17  DJ_Ajclose     1718 non-null   float64
 18  DJ_volume      1718 non-null   int64
 19  EG_open        1718 non-null   float64
 20  EG_high        1718 non-null   float64
 21  EG_low         1718 non-null   float64
 22  EG_close       1718 non-null   float64
 23  EG_Ajclose     1718 non-null   float64
 24  EG_volume      1718 non-null   int64
 25  EU_Price       1718 non-null   float64
 26  EU_open        1718 non-null   float64
 27  EU_high        1718 non-null   float64
 28  EU_low         1718 non-null   float64
 29  EU_Trend       1718 non-null   int64
 30  OF_Price       1718 non-null   float64
 31  OF_Open        1718 non-null   float64
 32  OF_High        1718 non-null   float64
 33  OF_Low         1718 non-null   float64
 34  OF_Volume      1718 non-null   int64
 35  OF_Trend       1718 non-null   int64
 36  OS_Price       1718 non-null   float64
 37  OS_Open        1718 non-null   float64
 38  OS_High        1718 non-null   float64
 39  OS_Low         1718 non-null   float64
 40  OS_Trend       1718 non-null   int64
 41  SF_Price       1718 non-null   int64
 42  SF_Open        1718 non-null   int64
 43  SF_High        1718 non-null   int64
 44  SF_Low         1718 non-null   int64
 45  SF_Volume      1718 non-null   int64
 46  SF_Trend       1718 non-null   int64
 47  USB_Price      1718 non-null   float64
 48  USB_Open       1718 non-null   float64
 49  USB_High       1718 non-null   float64
 50  USB_Low        1718 non-null   float64
 51  USB_Trend      1718 non-null   int64
 52  PLT_Price      1718 non-null   float64
 53  PLT_Open       1718 non-null   float64
 54  PLT_High       1718 non-null   float64
 55  PLT_Low        1718 non-null   float64
 56  PLT_Trend      1718 non-null   int64
 57  PLD_Price      1718 non-null   float64
 58  PLD_Open       1718 non-null   float64
 59  PLD_High       1718 non-null   float64
 60  PLD_Low        1718 non-null   float64
 61  PLD_Trend      1718 non-null   int64
 62  RHO_PRICE      1718 non-null   int64
 63  USDI_Price     1718 non-null   float64
 64  USDI_Open      1718 non-null   float64
 65  USDI_High      1718 non-null   float64
 66  USDI_Low       1718 non-null   float64
 67  USDI_Volume    1718 non-null   int64
 68  USDI_Trend     1718 non-null   int64
 69  GDX_Open       1718 non-null   float64
 70  GDX_High       1718 non-null   float64
 71  GDX_Low        1718 non-null   float64
 72  GDX_Close      1718 non-null   float64
 73  GDX_Adj Close  1718 non-null   float64
 74  GDX_Volume     1718 non-null   int64
 75  USO_Open       1718 non-null   float64
 76  USO_High       1718 non-null   float64
 77  USO_Low        1718 non-null   float64
 78  USO_Close      1718 non-null   float64
 79  USO_Adj Close  1718 non-null   float64
 80  USO_Volume     1718 non-null   int64
dtypes: float64(58), int64(22), object(1)
memory usage: 1.1+ MB

In [7]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'SP_open', 'SP_high', 'SP_low', 'SP_close', 'SP_Ajclose', 'SP_volume',
       'DJ_open', 'DJ_high', 'DJ_low', 'DJ_close', 'DJ_Ajclose', 'DJ_volume',
       'EG_open', 'EG_high', 'EG_low', 'EG_close', 'EG_Ajclose', 'EG_volume',
       'EU_Price', 'EU_open', 'EU_high', 'EU_low', 'EU_Trend', 'OF_Price',
       'OF_Open', 'OF_High', 'OF_Low', 'OF_Volume', 'OF_Trend', 'OS_Price',
       'OS_Open', 'OS_High', 'OS_Low', 'OS_Trend', 'SF_Price', 'SF_Open',
       'SF_High', 'SF_Low', 'SF_Volume', 'SF_Trend', 'USB_Price', 'USB_Open',
       'USB_High', 'USB_Low', 'USB_Trend', 'PLT_Price', 'PLT_Open', 'PLT_High',
       'PLT_Low', 'PLT_Trend', 'PLD_Price', 'PLD_Open', 'PLD_High', 'PLD_Low',
       'PLD_Trend', 'RHO_PRICE', 'USDI_Price', 'USDI_Open', 'USDI_High',
       'USDI_Low', 'USDI_Volume', 'USDI_Trend', 'GDX_Open', 'GDX_High',
       'GDX_Low', 'GDX_Close', 'GDX_Adj Close', 'GDX_Volume', 'USO_Open',
       'USO_High', 'USO_Low', 'USO_Close', 'USO_Adj Close', 'USO_Volume'],
      dtype='object')

In [8]:
print(df['SP_Ajclose'][1])
print(df['DJ_Ajclose'][1])
print(df['EG_Ajclose'][1])
print(df['Adj Close'][1])

105.597549
11866.38965
72.364037
155.229996

In [9]:
x = df[['SP_Ajclose','DJ_Ajclose','EG_Ajclose', 'EU_Price',
        'OF_Price', 'OS_Price', 'SF_Price', 'PLT_Price',
      'USDI_Price', 'GDX_Adj Close', 'USO_Adj Close' ]]

In [13]:
y = df['Adj Close']

In [14]:
merged = pd.concat([y,x], axis=1)
merged.corr()

,Adj Close,SP_Ajclose,DJ_Ajclose,EG_Ajclose,EU_Price,OF_Price,OS_Price,SF_Price,PLT_Price,USDI_Price,GDX_Adj Close,USO_Adj Close
Adj Close,1.000000,-0.666071,-0.588411,0.859850,0.581036,0.710693,0.630817,0.947420,0.775861,-0.721569,0.974980,0.635675
SP_Ajclose,-0.666071,1.000000,0.989509,-0.902488,-0.558575,-0.628413,-0.595273,-0.708038,-0.864895,0.697188,-0.657799,-0.785103
DJ_Ajclose,-0.588411,0.989509,1.000000,-0.859977,-0.478621,-0.536211,-0.507989,-0.646737,-0.811543,0.618134,-0.588374,-0.721378
EG_Ajclose,0.859850,-0.902488,-0.859977,1.000000,0.619230,0.747928,0.692771,0.869780,0.908749,-0.769361,0.867314,0.814141
EU_Price,0.581036,-0.558575,-0.478621,0.619230,1.000000,0.903890,0.918097,0.590900,0.821030,-0.970819,0.506262,0.887218
OF_Price,0.710693,-0.628413,-0.536211,0.747928,0.903890,1.000000,0.986421,0.734201,0.868344,-0.932621,0.665965,0.945406
OS_Price,0.630817,-0.595273,-0.507989,0.692771,0.918097,0.986421,1.000000,0.663126,0.843934,-0.924975,0.590622,0.949219
SF_Price,0.947420,-0.708038,-0.646737,0.869780,0.590900,0.734201,0.663126,1.000000,0.808133,-0.719465,0.934367,0.671612
PLT_Price,0.775861,-0.864895,-0.811543,0.908749,0.821030,0.868344,0.843934,0.808133,1.000000,-0.901038,0.734653,0.930607
USDI_Price,-0.721569,0.697188,0.618134,-0.769361,-0.970819,-0.932621,-0.924975,-0.719465,-0.901038,1.000000,-0.658763,-0.930767
GDX_Adj Close,0.974980,-0.657799,-0.588374,0.867314,0.506262,0.665965,0.590622,0.934367,0.734653,-0.658763,1.000000,0.600756
USO_Adj Close,0.635675,-0.785103,-0.721378,0.814141,0.887218,0.945406,0.949219,0.671612,0.930607,-0.930767,0.600756,1.000000

#  1. Linear Regression

In [58]:
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [59]:
x

,SP_Ajclose,DJ_Ajclose,EG_Ajclose,EU_Price,OF_Price,OS_Price,SF_Price,PLT_Price,USDI_Price,GDX_Adj Close,USO_Adj Close
0,105.441238,11868.80957,70.431755,1.3018,105.09,93.42,53604,1414.65,80.341,48.973877,36.130001
1,105.597549,11866.38965,72.364037,1.3035,103.35,93.79,53458,1420.25,80.249,49.921513,36.270000
2,104.468536,11766.25977,62.509384,1.2995,103.64,94.09,52961,1411.10,80.207,48.490578,36.200001
3,107.629784,12103.58008,64.731514,1.3079,106.73,95.55,53487,1434.75,80.273,50.215282,37.560001
4,107.838242,12107.74023,66.180725,1.3045,107.71,99.01,53148,1429.05,80.350,50.186852,38.110001
...,...,...,...,...,...,...,...,...,...,...,...
1713,234.339996,21792.19922,2.950000,1.1400,50.47,42.27,37541,788.40,96.007,21.090000,9.290000
1714,246.179993,22878.44922,3.000000,1.1353,54.47,46.39,38253,799.25,96.568,20.620001,9.900000
1715,248.070007,23138.82031,2.950000,1.1430,52.16,45.23,38690,795.50,96.001,20.969999,9.620000
1716,247.750000,23062.40039,2.900000,1.1438,52.20,44.92,38706,790.25,95.965,20.600000,9.530000
1717,249.919998,23327.46094,2.880000,1.1470,53.80,45.00,38821,801.40,95.735,21.090000,9.660000

In [60]:
model.score(x,y)

0.9828777600233676

In [61]:
model.predict([[105.441238, 11868.80957, 70.431755, 1.3018,105.09, 93.42, 53604, 1414.65, 80.341, 48.973877, 36.130001]])

array([159.04064782])

In [62]:
y[0]

152.330002

In [20]:
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [21]:
model.score(x,y)

0.9828777600233676

In [24]:
df.corr()['Adj Close']

Open             0.998976
High             0.999535
Low              0.999532
Close            1.000000
Adj Close        1.000000
                   ...
USO_High         0.635311
USO_Low          0.634732
USO_Close        0.635675
USO_Adj Close    0.635675
USO_Volume      -0.456193
Name: Adj Close, Length: 80, dtype: float64

# 2.Train - Test - Split

In [63]:
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size = .8)

In [64]:
len(x_train)

1374

In [65]:
len(x_test)

344

In [66]:
model2 = LinearRegression()
model2.fit(x_train, y_train)

LinearRegression()

In [67]:
model2.score(x_train,y_train)

0.9823728208297037

In [68]:
model2.score(x_test,y_test)

0.9842101823131104

In [69]:
model.score(x,y)

0.9828777600233676

In [70]:
y_test

44      172.940002
993     108.089996
1078    118.879997
1021    117.870003
1390    126.809998
           ...
952     102.279999
831     112.820000
442     129.339996
629     126.199997
821     113.910004
Name: Adj Close, Length: 344, dtype: float64

In [71]:
x_test

,SP_Ajclose,DJ_Ajclose,EG_Ajclose,EU_Price,OF_Price,OS_Price,SF_Price,PLT_Price,USDI_Price,GDX_Adj Close,USO_Adj Close
44,118.138313,12938.66992,71.806305,1.3245,122.90,105.95,57257,1725.25,79.303,54.008816,40.590000
993,179.208099,16153.54004,11.340830,1.0919,32.72,29.66,34805,856.50,98.893,14.070210,8.570000
1078,199.191010,17807.06055,23.228807,1.1367,49.64,48.85,39079,988.05,94.028,24.922968,11.820000
1021,190.837387,17229.13086,16.016436,1.1106,39.53,37.36,37420,961.60,96.521,18.812759,9.880000
1390,239.874969,21807.64063,10.300000,1.1917,54.20,49.09,41323,1005.60,92.252,24.590441,10.040000
...,...,...,...,...,...,...,...,...,...,...,...
952,197.372040,17888.34961,15.519032,1.0631,44.44,41.66,33299,841.60,99.840,13.813974,12.950000
831,193.331573,17764.03906,22.488039,1.1284,64.88,60.53,36863,1109.10,95.172,18.311319,20.209999
442,158.003372,15467.66016,32.389091,1.3781,109.97,97.80,49884,1450.70,79.290,24.983780,35.410000
629,178.085739,16651.80078,42.185497,1.3365,104.28,97.36,43317,1470.35,81.657,26.555882,36.020000
821,195.418396,18041.53906,23.431248,1.0873,63.72,58.33,38510,1126.50,97.407,18.779589,19.690001

In [73]:
y[43]

171.020004

In [74]:
model.score(x,y)

0.9828777600233676